{% extends 'home.html'%}
{% block content %}
 <!-- Blog Post -->
<div class="container bootstrap snippet" style="padding-top:120px;">
    <div class="row">
        <div class="col-md-6">
        <div class="widget-five mb30">
        	<textarea rows="15" class="form-control resize-v post-area" placeholder="Start typing .........."></textarea>
        	</div>
        </div>
	</div>
</div>
<script> var s = document.createElement('script'); s.setAttribute('src','http://developer.quillpad.in/static/js/quill.js?lang=Hindi&key=2558bbfed7298c52719a00e03695dbe3'); s.setAttribute('id','qpd_script'); document.head.appendChild(s); </script>

{% endblock %}