{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container" style="padding: 20px; margin: 70px; justify-content: space-around; ">
  <div style=" width: 90%;float:right;">
    <h1 style="background-color: darkblue; padding: 20px; text-align: center; color: white;"><a href="{% url 'notice' %}"><span class="fa fa-arrow-circle-left" style="float:right; color: white;"></span></a>Notice</h1>

    <p style="font-size:1.5rem; background-color: grey; padding: 15px; height: 60vh;">{{notice.notification}}</p>

</div>
</div>


{% endblock %}