asgiref==3.2.7
beautifulsoup4==4.9.0
braintree==4.2.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
Django==3.0.5
django-bootstrap4==1.1.1
django-ckeditor==5.9.0
django-crispy-forms==1.9.0
django-js-asset==1.2.2
django-payments==0.13.0
django-payments-razorpay==1.0
idna==2.9
Pillow==7.1.1
pycparser==2.20
PyJWT==1.7.1
pytz==2019.3
razorpay==1.2.0
requests==2.23.0
six==1.15.0
soupsieve==2.0
sqlparse==0.3.1
stripe==2.46.0
suds-jurko==0.6
urllib3==1.25.9
xmltodict==0.12.0
